nav{
    display: flex;              /* cela met le flexbox: ils sont ds une rangée(horizontale)*/
    justify-content: space-between;  /* cela pousse le logo tout a gauche et le sign in & request access a droite */
    align-items: center;        /* cela centre tour verticalement */
    padding: 18px 32px;
    background: #0a0a0d;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    position: sticky;
    top: 0;
    z-index: 50;
    background: rgba(10,10,13,0.7);
    backdrop-filter: blur(10px);
}

.nav-links {
  display: flex;               /* cela met aussi le flexbox: ils sont dans une rangée (horizontale*/
  gap: 36px;                   /* cela espace de manière assez clean */
  list-style: none;            /* cela enlève les points des liste li */
}

.nav-links a {
  color: #93939f;
  text-decoration: none;       /* cela enlève les lignes sous les liens */
}

.logo-text{
    font-size:35px ;
    font-family: "Space-Grotesk", sans-serif;
    color : white;
    background-color: none;
    align-items: center;
    font-weight: 700;
}

.logoImage{
    width:30px;
}


.homeButton{
    display:flex;
    background-color: #0E0E15;
    border:none;
    gap: 10px;
}


.SignIn-text{
    text-decoration: none;
    font-family: "Space-Grotesk", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color:white;
}

.left-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}