body {
    margin: 0;
    justify-content: center;
}



.homesteps-title {
    color:white
}

.boite-2x2-home {
    display: grid;
    width: 100%;
    max-width: 500px;

    grid-template-columns: 1fr 1fr;

    border: 1.5px solid #26334450;
    border-radius: 14px;
    overflow: hidden;
}
.boite-2x2-home > div:nth-child(1),
.boite-2x2-home > div:nth-child(2) {
    border-bottom: 1.5px solid #26334450;

}

.boite-2x2-home > div:nth-child(1),
.boite-2x2-home > div:nth-child(3) {
    border-right: 1.5px solid #26334450;
}

.homecase {
    min-height: 100px;
    
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

.boite-2x2-home > div {
    aspect-ratio: 2.5 / 1;
    padding: 24px;

}


.homeprob {
    display: flex;
    justify-content: center;
    padding:40px;
    min-height: 100vh;
    max-height: 100vh;

}

.probspot{
    max-width: 1300px ;  
    width: 100%;
    margin: 0 auto;
}

.probspot h2{
    text-align: center;
    max-width: 750px;
    margin: 0 auto 20px;
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.05;
}

.probspot > p {
    text-align: center;      
    margin: 0 auto;  
    max-width: 650px;
    font-size: 15px;
    line-height: 1.5;
}

.hcardspot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    width: 100%;
    gap: 70px;
    margin: 75px auto 0;
}

.HomeProcessus {
    display: flex;
    justify-content: center;
    height: calc( 100vh - 100px);
    background-color: aquamarine;
    align-items: center;
}

.homeprocessdiv {
    background-color: blue;
}

.probspot span {
    color: var(--coul-princ);
    font-weight: 800;
}



i {
    background-color: #0f4310;
    border-radius: 3px;
    font-size: 15px;
    color: #ffff;
    padding: 2px;
}

.optioncardh {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.2s ease;
    padding: 5Px;
}


.optioncardh:hover {
    transform: translate(6px, 0)
}

.network {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 4rem;
}

.point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    margin: 4px;
}