.homeprob {
    height: 400px;
    background-color: #e4eeff;
    display: flex;
    justify-content: center;
    padding:40px
}

.homesteps-title {
    color:white
}

.boite-2x2-home {
    display: grid;
    width: 100%;
    max-width: 500px;

    grid-template-columns: 1fr 1fr;

    border: 1.5px solid #26334450;
    border-radius: 14px;
    overflow: hidden;
}
.boite-2x2-home > div:nth-child(1),
.boite-2x2-home > div:nth-child(2) {
    border-bottom: 1.5px solid #26334450;

}

.boite-2x2-home > div:nth-child(1),
.boite-2x2-home > div:nth-child(3) {
    border-right: 1.5px solid #26334450;
}

.homecase {
    min-height: 100px;
    
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

.boite-2x2-home > div {
    aspect-ratio: 2.5 / 1;
    padding: 24px;

}

.probspot{
    padding: 1rem;
    max-width: 1300px;
}

.probspot h2{
    text-align: center;
}