* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #f2f0f5;
    color:black;
    font-family:"Manrope", sans-serif;
}



html{
    scroll-behavior: smooth;
}

::selection {
    background-color: #0f4310; /* Couleur de fond */
    color: #ffffff;  
}