
.display-large {
    font-family: "Space Grotesk", sans-serif;
    font-size: 64px;
    font-weight: 600;
}

.display-medium {
    font-family: "Space Grotesk", sans-serif;
    font-size: 44px;
    font-weight: 600;
}

.headline-large {
    font-family: "Space Grotesk", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.body-large {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.label-small {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #938f97;
}

.nvb-midbtn{
    font-family:"Space-Grotesk", sans-serif;
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6, p{
    color: black;
}

.home-h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 800;
    font-size: clamp(2rem, 5vw + 1rem, 7rem);
    text-align: left;
    color: black;
}


h2 {
    font-size: clamp(1.5rem, 3vw + 0.5rem, 4rem);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: black;
}

.probcard h3{
   color:  #8892a0;
   font-weight: 500;
}