.request-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

   gap: 8px;

  padding: 10px 16px;
  border-radius: 10px;
  height: 40px;

  background: #0f4310d2;
  color: white;

  border: none;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  transition: border-color 0.25s ease, background-color 0.5s ease;
  
  font-weight: 600;
  font-size: 1rem;
}
.request-button:hover {
  border-color: #0F4310;
  background-color: #0f4310;
}

.request-button::after{
  content: " \2192"; 
  margin-left: 8px; 
}

.investisseur-btn {
    padding: 16px;
    height: 50px;
    align-items: center;
    border-radius: 6px;
    font-weight: 800;
    background-color: #0F4310;
    color: white;
    border: none;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
    
} 
.investisseur-btn:hover {
    transform: translate(0px, -2px); 
    box-shadow: 0 8px 24px -6px #0F4310;
} 

/* refaire plus tard (boutons) */
.postul-btn {
    padding: 16px;
    border-radius: 6px;
    background-color: #a8adaf81;
    border: 1.5px solid rgb(85, 80, 80);
    cursor: pointer;
    font-weight: 750;
}

