.hero-homecard { 
    grid-template-columns: 1fr 1fr ;
    padding: clamp(18px, 1.8vw, 26px);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius:  20px;
}

.probcard {
    border-left: 2px solid gray;
    width: 100%;
    max-width: 600px;
    min-height:300px;
    max-height: 500px;
    height: auto ;
    border: 2px solid black;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
}

.cardicon {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}